<p>menu works!</p>
<tr>
	<td><b>Hello City</b></td>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<td><b>Hello Local</b></td>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<td><b>Hello State</b></td>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<td><b>Hello Nation</b></td>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<td><b>Hello InterNation</b></td>
</tr>
<ul class="navbar-nav">
    <li><a  routerLink="/hellocity" class="nav-link">Hello City</a></li>
    <li><a  routerLink="/hellolocal" class="nav-link">Hello Local</a></li>
	<li><a  routerLink="/hellostate" class="nav-link">Hello State</a></li>
	<li><a  routerLink="/hellonation" class="nav-link">Hello Nation</a></li>
	<li><a  routerLink="/hellointernation" class="nav-link">Hello InterNation</a></li>
</ul>
